/* GENERAL STYLES */
html {
	min-height: 100%;
}

body {
	width: 100%;
	background-image: url(../img/composition-bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main-page {
	background-image: url(../img/paper-bg.jpg);
}

textarea {
	margin-top: 60px !important;
	background-color: rgba(255, 255, 255, 0.5) !important;
}

h1 {
	padding-top: 60px;
	color: black !important;
	font-family: 'Oswald', sans-serif !important;
	font-size: 60px !important;
	text-decoration: underline;
}

p {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	padding: 10px;
}


/* NAVBAR STYLES */
.navbar {
	background-color: black;
	border-bottom: 5px white solid;
}


/* LOGIN PANEL STYLES */
#border-panel {
	background-color: white;
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 80px;
	border-radius: 20px;
}

#login-panel {
	background-color: white;
	border-radius: 18px;
	border: solid 8px black;
	margin-top: 15px;
	margin-bottom: 15px;
}

.btn-primary {
	margin-bottom: 20px;
}

#signup-form {
	padding: 15px;
}

.form-group {
	text-align: left;
}
