/* GENERAL STYLES */
html {
	min-height: 100%;
}

h1 {
	padding-top: 60px;
	color: black !important;
	font-family: 'Roboto', sans-serif !important;
	font-size: 60px !important;
	text-decoration: underline;
}

p {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	padding: 10px;
}

body {
	width: 100%;
	background-image: url(../img/composition-bg.jpg); /* LOGIN PAGE */
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* NAVBAR STYLES */
#login-nav {
	background-color: black !important;
	border-bottom: 5px white solid;
}

#main-nav {
	background-color: #7a8497 !important;
	border-bottom: 5px grey solid;
}

.logo {
	font-family: 'Passion One', cursive;
	font-size: 24px !important;
}


/* LOGIN PANEL STYLES */
#border-panel {
	background-color: white;
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 80px;
	border-radius: 20px;
}

#login-panel {
	background-color: white;
	border-radius: 18px;
	border: solid 8px black;
	margin-top: 15px;
	margin-bottom: 15px;
}

#signup-btn {
	margin-bottom: 20px;
	background-color: black;
	color: white;
}

#signup-btn:hover {
	background-color: white;
	color: black;
}

#signup-form {
	padding: 15px;
}

.form-group {
	text-align: left;
}

#disclaimer {
	width: 100%;
	margin-top: 25px;
	margin-bottom: -20px;
}


/* MAIN PAGE STYLES */
#main-page {
	background-image: url(../img/paper-bg.jpg);
}

textarea {
	margin-top: 60px !important;
	background-color: rgba(255, 255, 255, 0.7) !important;
	font-family: 'Caveat Brush', cursive !important;
	font-size: 26px !important;
}
